h1 {
text-align: center;
color: White;
     text-shadow: 2px 2px 5px black; 
}

h2 {
text-align: left;
color: White;
text-shadow: 2px 2px 5px green;
}

body {
background: url("https://cdn.dribbble.com/users/18771/screenshots/2123370/attachments/386242/code-design-ad.png");
background-size: cover;
}

.btn-info{
background-color: Darkgray;
color: black;
}
    
